<!DOCTYPE html>
<html>
    <head>
        
        
        
    </head>
    <body>
        <p>You've got mail!  
        From: <%= "#{@name}, #{@email}" %> </p>
        <p> <%=@body%> </p>
    </body>
</html>